{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Asgard</title>
  </head>
  <body>
    <div class="Container">
      <p class="header" id="h">A Website About Asgard</p>
      <div class="content-container" id="Con">
        {% for result in Type%}
        <div
          class="content"
          id="content"
          onclick="display('{{result.description}}')"
        >
          {{result.name}}
        </div>
        {% endfor %}
      </div>
      <div style="font-family: 'Kanit'" id="cl"></div>
    </div>

    <script>
      function display(i) {
        document.getElementById("cl").innerHTML = i;
      }
    </script>
  </body>
</html>
